.coin {
    display: block;
    background: transparent;
    border: none;
    width: 200px;
    cursor: pointer;
    transition: transform 500ms;
    will-change: transform;
  }
  .coin:hover {
    transform: scale(1.05);
    transition: transform 200ms;
  }
  .coin:active {
    transform: scale(0.95);
    transition: transform 0ms;
  }
  .coin-image {
    display: block;
    width: 100%;
    user-select: none;
  }